/* style.css */
body{
  background: #FFFFFF;
  color: green;
  font-size: 15px;
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #581F18;
  font-weight: lighter;
  font-size: 40px;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #606D5D;
  font-weight: lighter;
  font-size: 30px;
}


p {
  font-family: 'Titillium Web', sans-serif;
  color: #01161E;
}

a {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  color: #01161E;
  font-size: 15px;
}

a:hover {
  text-decoration: none;
  color: #AEC3B0;
}


#nav-bar{
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  background: #1C110A;
}

.nav-bar-links a {
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  text-decoration: none;
  color: white;
  padding: 10px;
 }

.nav-bar-links a:hover {
  color: #5cb85c;
}

#nav-bar p {
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

.logo i {
  font-size: 30px;
  color: white;
}

.logo a:hover {
  color: #5cb85c;
}


#banner{
  text-align: center;
  background-image: url("https://picsum.photos/1400/600/?image=24");
  background-size: cover;
  background-position: center; 
  padding: 80px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

#banner h1 {
  color: white;
  font-size: 60px;
}

#banner p {
  color: white;
  font-size: 30px;
  font-weight: lighter;
}

#banner a {
  color: white;
  font-size: 15px;
}

#footer{
  padding: 15px;
  background: #1C110A;
  color: #581F18;
}

#footer p {
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

#footer a {
  color: white;
  font-size: 15px;
}
#footer a:hover {
  color: #5cb85c;
}

.card{
  padding: 50px;
  margin: 30px 5px;
  border: 1px solid #E4D6A7; 
  border-radius: 5px;
  box-shadow: 1px 1px 1px #ccbf94;
  font-weight: lighter;
}